<!DOCTYPE html>
<html ng-app lang = "en">
  <head>
      <meta charset="UTF-8">
    <title>JavaScript &amp; jQuery - Chapter 9: APIs - Simple Angular Example</title>
    <link rel="stylesheet" href="css/c09.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
  </head>
  <body>
    <header><h1>Sabby's Custom Ink</h1>
	<h2>&diams; you think it, we print it &diams;</h2></header>
    <div class="third">
      <p class="welcome">Design an awesome sticker!!</p>
      <form>
        To:<br>
        <input ng-model="name" type="text" /><br>
        Message:<br>
        <textarea ng-model="message"></textarea>
        <input type="submit" value="print it" />
      </form>
    </div>
    <div class="two-thirds">
      <div class="postcard">
        <div>{{ name }}</div>
        <p>{{ message }}</p>
      </div>
	  <footer>
<a href="http://validator.w3.org/check?uri=referer"> <img src ="../images/valid_html5/valid_html5.gif" alt = "html5"></a> 
<a href="http://jigsaw.w3.org/css-validator/check/referer"> <img src ="../images/valid_html5/vcss-blue.gif" alt= "css"></a>
</footer>
    </div>
  </body>
</html>